<nav>
	<ul>
		<li><a href="{% url 'tutores' %}">Inicio</a></li>
		<li><a href="{% url 'crear_denominacion' %}">Denominaciones</a></li>
		<li><a href="{% url 'crear_centro' %}">Centros</a></li>
		<li><a href="{% url 'crear_estudiante' %}">Estudiantes</a></li>
		<li><a href="{% url 'crear_calificacion' %}">Calificación</a></li>
		<li><a href="{% url 'realizar_pedido' %}">Realizar pedido</a></li>
		<li><a href="{% url 'pagar_pedido' %}">Pagar pedido</a></li>
		<li><a href="{% url 'pedidos' %}">Historial</a></li>
		<li class="logout"><a href="{% url 'logout' %}">Salir</a></li>
	</ul>
</nav>